* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:hover {
  text-decoration: none;
}
.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.gradient {
  position: relative;
}
.gradient:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-linear-gradient(rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  background: -o-linear-gradient(rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  background: linear-gradient(rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6fce38a', endColorstr='#e6f38181', GradientType=0);
  /* IE6-9 */
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/*1170*/
@media only screen and (max-width: 1200px) {
  .bottom-section .btn-contact {
    height: 22%;
    width: 26%;
    bottom: 32%;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .bottom-main-middle {
    background-color: rgba(255, 255, 255, 0.486);
  }
  .bottom-main-middle2 {
    background-color: rgba(255, 255, 255, 0.486);
  }
  .bottom-main-bottom {
    background-color: rgba(255, 255, 255, 0.486);
  }
  .bottom-section .btn-contact {
    height: 20%;
    width: 27%;
    bottom: 33.5%;
  }
}
@media only screen and (max-width: 911px) {
  .bottom-section .btn-contact {
    height: 18%;
    width: 27%;
    bottom: 35%;
  }
}
@media only screen and (max-width: 835px) {
  .bottom-section .btn-contact {
    height: 16%;
    width: 27%;
    bottom: 36.5%;
  }
  .header .headline {
    padding-left: 4px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .bottom-section .btn-contact {
    height: 14%;
    width: 27%;
    bottom: 38%;
  }
  .header .headline {
    padding-left: 4px;
  }
}
@media only screen and (max-width: 719px) {
  .bottom-section .btn-contact {
    height: 14%;
    width: 27%;
    bottom: 38%;
    font-size: 23px;
  }
  .header .headline {
    padding-left: 4px;
  }
}
@media only screen and (max-width: 689px) {
  .bottom-section .btn-contact {
    height: 13%;
    width: 27%;
    bottom: 39%;
    font-size: 23px;
  }
  .header .headline {
    padding-left: 4px;
  }
}
@media only screen and (max-width: 641px) {
  .bottom-section .btn-contact {
    height: 12%;
    width: 27%;
    bottom: 40%;
    font-size: 21px;
  }
  .header .headline {
    padding-left: 4px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .bottom-section .btn-contact {
    height: 12%;
    width: 27%;
    bottom: 40%;
    font-size: 17px;
  }
  .header .headline {
    padding-left: 4px;
  }
}
@media only screen and (max-width: 478px) {
  .header .headline .secondary-title {
    font-size: 11px;
  }
  .header .headline .main-title {
    font-size: 17px;
  }
  .header .headline {
    padding-left: 3px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .bottom-section .btn-contact {
    height: 12%;
    width: 27%;
    bottom: 40%;
    font-size: 21px;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
